.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav__link {
    position: relative;


    &.has-subnav {
        a {
            padding-right: 30px;
        }

        &::after {
            content: '';
            position: absolute;
            right: 15px;
            top: 27px;
            display: block;
            transform: rotate(-45deg);
            width: 6px;
            height: 6px;
            border-bottom: 2px solid $black;
            border-left: 2px solid $black;
            border-radius: 1px;
            transition: 0.1s linear all;
        }

        &:hover {
            &::after {
                border-color: $blue;
            }
        }
    }

    &:hover {
        > .subnav {
            top: 60px;
            visibility: visible;
            opacity: 1;
        }
    }
}

.nav__link a, .nav__link button {
    border: none;
    background: none;
    display: block;
    padding: 20px 15px;
    font-size: 15px;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
    transition: 0.1s linear all;

    &:hover {
        color: $blue;

    }
}

.subnav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 10;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    min-width: 230px;
    background-color: #fff;
    border: 1px solid $blue;
    transition: 0.2s linear all;
}

.subnav__link a {
    text-transform: none;
    padding: 7px;

    &:hover {
        color: #fff;
        background-color: $blue;
    }
}





