.popular-Tours {
    padding: 70px 0;
}

.popular-Tours__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.popular-Tours__carousel {
    margin: 0 auto;
    max-width: 1000px;
}



