.footer {
    padding-bottom: 100px;
    background: url(../img/footer/footer.png) bottom center/cover repeat-x;
}

.footer__devider {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
}

.footer__title {
    font-size: 20px;
}

.footer__nav {
    margin-bottom: 30px;
    display: block;

    .nav__link a {
        padding: 0;
        padding-left: 10px;
    }
}


.footer__partners {
    display: flex;
    justify-content: space-between;
}