.popular-tours {
    padding: 70px 0;
}

.popular-tours__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.popular-tours__carousel {
    margin: 0 auto;
    max-width: 1000px;
}



