@{
    ViewData["Title"] = "Home Page";
}

<div class="service registration__service">
    <div class="container">
        <div class="service__wrapper">

            <h3 class="service__title">Регистрация</h3>
            <div class="service__descr">A responsive, retina-ready & wide multipurpose template.</div>
        </div>

    </div>
</div>


<section class="registration">
    <div class="container">
        <div class="registration__inner">

            <form action="#" class="form registration__form">

                <label for="login" class="form__label">Введите логин</label>
                <input required id="login" type="text" class="form__input">

                <label for="password" class="form__label">Введите пароль</label>
                <input required id="password" type="password" class="form__input">

                <label for="name" class="form__label">Введите имя</label>
                <input required id="name" type="text" class="form__input">

                <label for="lastName" class="form__label">Введите фамилию</label>
                <input required id="lastName" type="text" class="form__input">

                <label for="middleName" class="form__label">Введите отчество</label>
                <input required id="middleName" type="text" class="form__input">

                <label for="phoneNumber" class="form__label">Введите номер телефона</label>
                <input required id="phoneNumber" type="tel" class="form__input">

                <button class="button registration__button" type="submit">Зарегистрироваться</button>
            </form>

            <div class="registration__info">
                <div class="registration__img">
                    <img src="img/registration/registration-bg.png" alt="">
                </div>

                <div class="registration__title">В Личном кабинете вы сможете</div>
                <ul class="registration__list">
                    <li>
                        <i class="fas fa-check"></i>
                        хранить всю историю заказов и документы по ним
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        управлять настройками аккаунта
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>