@page
@model RegisterModel

@{ ViewData["Title"] = "Register"; }

@{ Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="service registration__service">
    <div class="container">
        <div class="service__wrapper">

            <h3 class="service__title">Регистрация</h3>
            <div class="service__descr">A responsive, retina-ready & wide multipurpose template.</div>
        </div>

    </div>
</div>


<section class="registration">
    <div class="container">
        <div class="registration__inner">

            <form asp-route-returnUrl="@Model.ReturnUrl" class="form registration__form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <label asp-for="Input.FirstName" class="form__label">Введите имя</label>
                <input required asp-for="Input.FirstName" class="form__input" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                <label asp-for="Input.LastName" class="form__label">Введите фамилию</label>
                <input required asp-for="Input.LastName" class="form__input" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>

                <label asp-for="Input.MiddleName" class="form__label">Введите отчество</label>
                <input required asp-for="Input.MiddleName" class="form__input" />
                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>

                <label asp-for="Input.PhoneNumber" class="form__label">Введите номер телефона</label>
                <input required asp-for="Input.PhoneNumber" class="form__input" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                <label asp-for="Input.Email" class="form__label">Введите email</label>
                <input required asp-for="Input.Email" class="form__input" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <label asp-for="Input.Password" class="form__label">Введите пароль</label>
                <input required asp-for="Input.Password" class="form__input" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <label asp-for="Input.ConfirmPassword" class="form__label">Подтвердите пароль</label>
                <input required asp-for="Input.ConfirmPassword" class="form__input" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>


                <button class="button registration__button" type="submit">Зарегистрироваться</button>
            </form>

            <div class="registration__info">
                <div class="registration__img">
                    <img src="img/registration/registration-bg.png" alt="">
                </div>

                <div class="registration__title">В Личном кабинете вы сможете</div>
                <ul class="registration__list">
                    <li>
                        <i class="fas fa-check"></i>
                        хранить всю историю заказов и документы по ним
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        управлять настройками аккаунта
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}