
@{
    ViewData["Title"] = "Sunrise";
}


<section class="promo">
    <div class="container">

        <div class="promo__inner">
            <div class="promo__content">
                <h1 class="promo__title">Lorem ipsum dolor sit amet</h1>
                <div class="promo__descr">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nam! Cumque nostrum necessitatibus tenetur rerum amet maiores accusamus velit! Minima doloremque blanditiis corrupti quidem cum voluptates, nesciunt consequuntur voluptatem veritatis!</p>
                </div>
                <button class="button">sign up</button>
            </div>

            <div class="promo__images">
                <img src="img/promo/hill.png" alt="hill">
                <img src="img/promo/house.png" alt="house">
                <img src="img/promo/sun.png" alt="sun">
                <img src="img/promo/birds1.png" alt="birds">
                <img src="img/promo/birds2.png" alt="birds2">
            </div>
        </div>

    </div>
</section>



<section id="advantages" class="advantages">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="advantage">
                    <div class="advantage__img">
                        <img src="img/promo/hill.png" alt="">
                    </div>
                    <div class="advantage__title">Incredibly Responsive</div>
                    <div class="advantage__text">
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="advantage">
                    <div class="advantage__img">
                        <img src="img/promo/house.png" alt="">
                    </div>
                    <div class="advantage__title">Incredibly Responsive</div>
                    <div class="advantage__text">
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="advantage">
                    <div class="advantage__img">
                        <img src="img/promo/birds2.png" alt="">
                    </div>                        <div class="advantage__title">Incredibly Responsive</div>
                    <div class="advantage__text">
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div id="cases" class="service">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="service__left">
                    <h3 class="service__title">Triangle Corporate Template</h3>
                    <div class="service__descr">A responsive, retina-ready & wide multipurpose template.</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="service__right">
                    <button class="button">cases</button>
                    <div class="service__img">
                        <img src="img/promo/hill.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<section id="popular-tours" class="popular-tours">
    <div class="container">
        <div class="popular-tours__title">Популярные направления</div>

        <div class="carousel popular-tours__carousel">
            <img class="carousel__item" src="img/promo/hill.png" alt="">
            <img class="carousel__item" src="img/slider/slide1.jpg" alt="">
            <img class="carousel__item" src="img/slider/slide1.jpg" alt="">
        </div>

    </div>
</section>





