
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">

                <a href="~/Home" class="logo header__logo">
                    <img src="~/img/sunrise.svg" alt="logo">
                </a>

                <ul class="nav">
                    <li class="nav__link has-subnav">
                        <a href="~/Home">Главная</a>
                        <ul class="subnav">
                            <li class="subnav__link"><a href="~/Home#advantages">О нас</a></li>
                            <li class="subnav__link"><a href="~/Home#cases">Испытать удачу</a></li>
                            <li class="subnav__link"><a href="~/Home#popular-Tours">Популярные туры</a></li>
                        </ul>
                    </li>

                    <li class="nav__link">
                        <a href="~/Catalog">Каталог</a>
                    </li>

                    <li class="nav__link">
                        <a href="#">О нас</a>
                    </li>

                    <partial name="_LoginPartial"></partial>


                </ul>

            </div>
        </div>
    </header>


    @RenderBody()
    @*<partial name="../../Areas/Identity/Pages/Account/Login"></partial>
    <partial name="../../Areas/Identity/Pages/Account/Register"></partial>*@

    <footer class="footer">
        <div class="container">
            <img src="~/img/footer/under.png" alt="" class="footer__devider">
            <div class="row">

                <div class="col-md-4">
                    <ul class="nav footer__nav">
                        <h3 class="footer__title">sssss</h3>
                        <li class="nav__link"><a href="#">123</a></li>
                        <li class="nav__link"><a href="#">123</a></li>
                        <li class="nav__link"><a href="#">123</a></li>
                    </ul>
                    <ul class="nav footer__nav">
                        <h3 class="footer__title">sssss</h3>
                        <li class="nav__link"><a href="#">123</a></li>
                        <li class="nav__link"><a href="#">123</a></li>
                        <li class="nav__link"><a href="#">123</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3 class="footer__title">dsfg</h3>
                    <div class="footer__partners">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="footer__title">dsfg</h3>
                    <div class="footer__about">
                        123
                    </div>
                    <div class="footer__socials">

                    </div>
                </div>


            </div>
        </div>
    </footer>








    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
