@{
    ViewData["Title"] = "ыыыыыыыыыыыыыы";
}



<form method="post" action="add" style="padding: 100px 0;">
    <label for="Description">Описание</label>
    <input id="Description" type="text" name="Description" value="" />

    <label for="Hotel">Отель</label>
    <input id="Hotel" type="text" name="HotelName" value="" />

    <label for="Town">Город</label>
    <input id="Town" type="text" name="TownName" value="" />

    <label for="Region">Регион</label>
    <input id="Region" type="text" name="RegionName" value="" />

    <label for="Price">Цена</label>
    <input id="Price" type="text" name="Price" value="" />

    <button type="submit">создать</button>
</form>